<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="CategoryUrlGeneratorCommand" xsi:type="object">MageSuite\UrlRegeneration\Console\Command\CategoryUrlGeneratorCommand</item>
                <item name="ProductUrlGeneratorCommand" xsi:type="object">MageSuite\UrlRegeneration\Console\Command\ProductUrlGeneratorCommand</item>
            </argument>
        </arguments>
    </type>
</config>
